<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">


  <link rel="stylesheet" href="css/style.css">
  <title>CodeGig</title>
</head>

<body>
  <header>
    <h2 class="titre"><a href="index.ejs"><i class="fas fa-code"></i>
      AirLines <span class="sup-titre">Youssoufia</span></a></h2>
    <nav>
      <ul>
        <li>
          <a  class="titre" href="index.ejs">Home</a>
        </li>
        <li>
          <a  class="titre" href="gigs.egs">All </a>
        </li>
        <li>
          <a  class="titre" href="add.egs">Add</a>
        </li>
      </ul>
    </nav>
  </header>

  <section id="search" class="search-wrap">
    <h1 class="titre" >Find A Vol</h1>
    <form action="gigs.ejs" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="search vol .....">
      <input type="submit" value="Search">
    </form>
  </section>
</body>

</html>